{% extends "base.html" %}
{% load static %}

{% block title %}Résultat de l'étude{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/style_medecin.css' %}" />
{% endblock %}

{% block content %}
    <!-- Affichage de l'admin en haut à gauche -->
    <div class="fixed-top mr-3 mb-3" style="margin-left: 1%;">
        <h1>Bienvenue docteur {{ prenom_medecin }} {{ nom_medecin }}</h1>
    </div>

    <div class="fixed-top mr-3 mb-3" style="text-align: end;margin-right: 1%;">
        <img src="{% static 'images/Doctolibbydjango.png' %}" alt="Logo doctolib by django" class="img-fluid mb-2" style="width: 10%;">
    </div>

    <div class="h-100">
        <div class="row h-25">

        </div>
        <div class="row h-50">
            <div class="col-2 h-100 d-flex flex-column justify-content-between">
                <div>
                    <a href="{% url 'compte_medecin' %}">
                        <button class="btn btn-secondary w-100 shadow-lg" type="button" style="font-size: 22px;padding:13px;text-align: end;">Mon compte<i class="fas fa-user" style="margin-left:10px;"></i></button>
                    </a>
                </div>
                <div>
                    <a href="{% url 'fiche_patient' %}">
                        <button class="btn btn-primary w-100 shadow-lg" type="button" style="font-size: 22px;padding:13px;text-align: end;">Fiches des patients<i class="fas fa-file-medical" style="margin-left:10px;"></i></button>
                    </a>
                </div>
                <div>
                    <a href="{% url 'ajout_patient' %}">
                        <button class="btn btn-info w-100 shadow-lg" type="button" style="font-size: 22px;padding:13px;text-align: end;">Ajouter un patient<i class="fas fa-user-plus" style="margin-left:10px;"></i></button>
                    </a>
                </div>
                <div>
                    <a href="{% url 'resultat_etude' %}">
                        <button class="btn btn-warning w-100" type="button" style="font-size: 22px;padding:13px;text-align: end;">Résultats de l'étude<i class="fas fa-chart-bar" style="margin-left:10px;"></i></button>
                    </a>
                </div>
            </div>
            <div class="col-10">
                
            </div>
        </div>
        <div class="row h-25">

        </div>
    </div>

    <div class="fixed-bottom mr-3 mb-3" style="margin-left: 1%;">
        <p style="display:contents;">Fiche médecin n°{{ id_medecin }}</p>
    </div>

    <div class="fixed-bottom mr-3 mb-3" style="text-align: end;margin-right: 1%;">
        <a href="{% url 'deconnexion' %}">Déconnexion</a>
    </div>
{% endblock %}