h1{
    font-family: Montserrat;
    font-weight: 700;
    color: #0d2339;
}

h2{
    font-family: Roboto!important;
}

p, a, .btn, label{
    font-family: Roboto;
}

input{
    font-family: Roboto;
}

::placeholder{
    color: lightgrey!important;
    font-style: italic;
}

.modal-header, h5{
    font-family: Montserrat;
    color: #0d2339;
    font-size: 25px;
    font-weight: 700;
}

.modal-body, .modal-footer{
    font-family: Roboto;
    color: #0d2339;
}